In [174]:
import pandas as pd

In [176]:
df = pd.read_csv('orders.csv',parse_dates=['Order Date'],na_values=['unknown','Not Available'])

df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [178]:
#renaming columns to lowercase and change spacing into underscore to avoid error when we use sql later
df = df.rename(
    columns={
        'Order Id': 'order_id',
        'Order Date':'order_date'
        ,'Ship Mode':"ship_mode",
        'Segment':'segment',
        'Country':'country',
        'City':'city',
        'State': 'state',
       'Postal Code':'postal_code',
        'Region':'region',
        'Category':'category',
        'Sub Category':'sub_category',
        'Product Id':'product_id',
       'cost price':'cost_price',
        'List Price' : 'list_price',
        'Quantity':'quantity',
        'Discount Percent':'discount_percent'
    }
).copy()
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [179]:
# CREATING DISCOUNT,SALES PRICE,PROFIT AND TOTAL PROFIT COLUMN



df['discount'] = df['list_price'] * df['discount_percent'] * .01
df['sale_price'] = df['list_price'] - df['discount']

# PROFIT COLUMN
df['profit'] = df['sale_price'] - df['cost_price']


#  TOTAL PROFIT COLUMNS (TOTAL PROFIT COLUMNS IS MULTIPLIED BY QUANTITY UNLIKE TO PROFIT COLUMNS)
df['total_profit'] = df['profit'] * df['quantity']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit,total_profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2,-3.6
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4,32.8
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8,69.6
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9,-3.6
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8,45.6

In [181]:
# DROPPING COST PRICE, DISCOUNT PRICE AND LIST PRICE


df = df.drop(columns=['cost_price','list_price','discount_percent'])
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit,total_profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2,-3.6
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4,32.8
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8,69.6
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9,-3.6
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8,45.6

In [247]:
df['totalrev'] = df['quantity'] * df['sale_price']
grouped = df.groupby('product_id')
sum = grouped['totalrev'].mean
sum.sort_values(ascending=False)

product_id
TEC-AC-10003832    16628.917601
OFF-PA-10001970    15520.323094
OFF-BI-10001524    14855.166390
OFF-BI-10002026    14190.009686
FUR-CH-10002647    14190.009686
                       ...
OFF-PA-10000048      221.718901
FUR-BO-10002206      221.718901
OFF-AR-10002704      221.718901
FUR-CH-10002317      221.718901
TEC-MA-10003493      221.718901
Name: totalrev, Length: 1862, dtype: float64

In [188]:
import sqlalchemy as sal
engine = sal.create_engine('postgresql://postgres:09067456993data@localhost/practice')
conn=engine.connect()

df.to_sql('order_analysis', con=conn , index=False, if_exists = 'append')

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "totalrev" of relation "order_analysis" does not exist
LINE 1: ...tity, discount, sale_price, profit, total_profit, totalrev) ...
                                                             ^

[SQL: INSERT INTO order_analysis (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit, total_profit, totalrev) VALUES (%(order_id__0)s, %(order_date ... 346888 characters truncated ... , %(discount__999)s, %(sale_price__999)s, %(profit__999)s, %(total_profit__999)s, %(totalrev__999)s)]
[parameters: {'region__0': 'South', 'product_id__0': 'FUR-BO-10001798', 'segment__0': 'Consumer', 'ship_mode__0': 'Second Class', 'order_date__0': datetime.datetime(2023, 3, 1, 0, 0), 'city__0': 'Henderson', 'discount__0': 5.2, 'sub_category__0': 'Bookcases', 'state__0': 'Kentucky', 'total_profit__0': 29.600000000000023, 'postal_code__0': 42420, 'order_id__0': 1, 'country__0': 'United States', 'category__0': 'Furniture', 'profit__0': 14.800000000000011, 'totalrev__0': 509.6, 'sale_price__0': 254.8, 'quantity__0': 2, 'region__1': 'South', 'product_id__1': 'FUR-CH-10000454', 'segment__1': 'Consumer', 'ship_mode__1': 'Second Class', 'order_date__1': datetime.datetime(2023, 8, 15, 0, 0), 'city__1': 'Henderson', 'discount__1': 21.900000000000002, 'sub_category__1': 'Chairs', 'state__1': 'Kentucky', 'total_profit__1': 324.30000000000007, 'postal_code__1': 42420, 'order_id__1': 2, 'country__1': 'United States', 'category__1': 'Furniture', 'profit__1': 108.10000000000002, 'totalrev__1': 2124.3, 'sale_price__1': 708.1, 'quantity__1': 3, 'region__2': 'West', 'product_id__2': 'OFF-LA-10000240', 'segment__2': 'Corporate', 'ship_mode__2': 'Second Class', 'order_date__2': datetime.datetime(2023, 1, 10, 0, 0), 'city__2': 'Los Angeles', 'discount__2': 0.5, 'sub_category__2': 'Labels', 'state__2': 'California', 'total_profit__2': -1.0, 'postal_code__2': 90036, 'order_id__2': 3, 'country__2': 'United States', 'category__2': 'Office Supplies' ... 17900 parameters truncated ... 'order_date__997': datetime.datetime(2023, 2, 17, 0, 0), 'city__997': 'Henderson', 'discount__997': 1.2, 'sub_category__997': 'Storage', 'state__997': 'Kentucky', 'total_profit__997': 26.39999999999999, 'postal_code__997': 42420, 'order_id__997': 998, 'country__997': 'United States', 'category__997': 'Office Supplies', 'profit__997': 8.799999999999997, 'totalrev__997': 116.39999999999999, 'sale_price__997': 38.8, 'quantity__997': 3, 'region__998': 'South', 'product_id__998': 'FUR-FU-10002885', 'segment__998': 'Consumer', 'ship_mode__998': 'Standard Class', 'order_date__998': datetime.datetime(2023, 11, 25, 0, 0), 'city__998': 'Henderson', 'discount__998': 0.4, 'sub_category__998': 'Furnishings', 'state__998': 'Kentucky', 'total_profit__998': -1.999999999999993, 'postal_code__998': 42420, 'order_id__998': 999, 'country__998': 'United States', 'category__998': 'Furniture', 'profit__998': -0.3999999999999986, 'totalrev__998': 98.0, 'sale_price__998': 19.6, 'quantity__998': 5, 'region__999': 'South', 'product_id__999': 'FUR-FU-10001918', 'segment__999': 'Consumer', 'ship_mode__999': 'Standard Class', 'order_date__999': datetime.datetime(2023, 9, 5, 0, 0), 'city__999': 'Henderson', 'discount__999': 0.9, 'sub_category__999': 'Furnishings', 'state__999': 'Kentucky', 'total_profit__999': -6.29999999999999, 'postal_code__999': 42420, 'order_id__999': 1000, 'country__999': 'United States', 'category__999': 'Furniture', 'profit__999': -0.8999999999999986, 'totalrev__999': 203.70000000000002, 'sale_price__999': 29.1, 'quantity__999': 7}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
df.columns

In [267]:
grouped = df.groupby("product_id")
avg_sale_price = grouped['sale_price'].mean()
avg_sale_price.sort_values(ascending=False)

product_id
TEC-MA-10002412    21734.4
TEC-CO-10004722    11902.8
TEC-MA-10004125     7840.0
TEC-MA-10001047     6883.5
TEC-MA-10001127     5968.8
                    ...
OFF-AP-10002906        0.0
OFF-FA-10000490        0.0
OFF-FA-10001754        0.0
OFF-BI-10000494        0.0
OFF-AP-10002203        0.0
Name: sale_price, Length: 1862, dtype: float64